/*
    DEFAULT
*/
/* colors: */
body {
  padding: 0;
  margin: 0;
  background-color: #fdfdfd;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 40px;
  color: #292929; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 4vw; } }
  @media screen and (max-width: 450px) {
    body {
      font-size: 18px; } }

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important; }

section {
  padding: 0 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fdfdfd;
  box-sizing: border-box; }
  @media screen and (max-width: 1000px) {
    section {
      padding: 0 2vw; } }
  @media screen and (max-width: 450px) {
    section {
      padding: 0 20px; } }

.full-section {
  max-width: 1920px; }

.title {
  font-size: 60px;
  color: #000000;
  font-weight: bold;
  padding: 10px 0 20px; }
  @media screen and (max-width: 1000px) {
    .title {
      font-size: 6vw;
      padding: 1vw 0 2vw; } }
  @media screen and (max-width: 450px) {
    .title {
      font-size: 28px; } }

* {
  outline: none;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  color: #84cb76;
  font-size: 18px;
  text-decoration: none; }
  @media screen and (max-width: 1000px) {
    a {
      font-size: 1.8vw; } }
  @media screen and (max-width: 450px) {
    a {
      font-size: 18px; } }

h3 {
  font-size: 26px;
  color: #292929;
  font-weight: bold;
  margin: 30px 0; }
  @media screen and (max-width: 1600px) {
    h3 {
      margin: 2vw 0; } }
  @media screen and (max-width: 1366px) {
    h3 {
      margin: 1vw 0; } }
  @media screen and (max-width: 1000px) {
    h3 {
      font-size: 2.6vw;
      margin: 2vw 0; } }
  @media screen and (max-width: 450px) {
    h3 {
      font-size: 22px;
      margin: 30px 0; } }

@media screen and (max-width: 450px) {
  .search-header {
    padding-bottom: 90px; } }

.no-padding-bottom {
  padding-bottom: 0 !important; }

/*
    Controls
*/
.search {
  margin-top: 30px;
  display: block;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1000px) {
    .search {
      margin-top: 3vw; } }
  .search img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    cursor: pointer; }
    .search img#search-button {
      right: 20px;
      width: 23px; }
      @media screen and (max-width: 1000px) {
        .search img#search-button {
          right: 2vw;
          width: 2.3vw; } }
      @media screen and (max-width: 450px) {
        .search img#search-button {
          width: 19px;
          right: 20px; } }
    .search img#cross-button {
      right: 62px;
      width: 50px;
      height: 50px;
      opacity: 0.5; }
      @media screen and (max-width: 1000px) {
        .search img#cross-button {
          right: 5.51vw;
          width: 4.44vw;
          height: 4.44vw; } }
  .search input {
    padding: 17px 50px 17px 17px;
    width: 500px;
    height: 50px;
    border-radius: 30px;
    filter: drop-shadow(0 0 23px rgba(0, 0, 0, 0.08));
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    font-size: 22px;
    text-align: left; }
    @media screen and (max-width: 1000px) {
      .search input {
        padding: 1.7vw 5vw 1.7vw 1.7vw;
        width: 50vw;
        height: 6vw;
        border-radius: 3vw;
        font-size: 2.2vw;
        filter: drop-shadow(0 0 2.3 rgba(0, 0, 0, 0.08)); } }
    @media screen and (max-width: 450px) {
      .search input {
        padding: 15px 15px 15px 60px;
        width: 302px;
        height: 44px;
        border-radius: 20px;
        font-size: 18px;
        border: 0;
        filter: drop-shadow(0 0 34.5px rgba(0, 0, 0, 0.08)); } }
  .search ::placeholder {
    font-size: 22px;
    color: #737b80;
    text-align: left;
    font-family: "Gilroy", Arial, Helvetica, sans-serif; }
    @media screen and (max-width: 1000px) {
      .search ::placeholder {
        font-size: 2.2vw; } }
    @media screen and (max-width: 450px) {
      .search ::placeholder {
        font-size: 18px; } }
  .search .link-block {
    display: flex;
    justify-content: flex-end; }

.call-button {
  width: 90px;
  height: 39px;
  border-radius: 10px;
  width: fit-content;
  padding: 0 48px;
  background-color: #84cb76;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px; }
  @media screen and (max-width: 1000px) {
    .call-button {
      width: 9vw;
      height: 3.9vw;
      padding: 0 4.26vw;
      border-radius: 5.24vw;
      font-size: 3.55vw; } }
  .call-button img {
    width: 47px;
    margin-right: 15px; }
    @media screen and (max-width: 1000px) {
      .call-button img {
        width: 3.64vw;
        margin-right: 1.33vw; } }

button {
  border: 0;
  border-radius: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  font-size: 26px;
  filter: drop-shadow(0px 20px 28.5px rgba(0, 0, 0, 0.05));
  cursor: pointer;
  margin: 30px 0 60px; }
  @media screen and (max-width: 1000px) {
    button {
      border-radius: 1.77vw;
      width: 30vw;
      height: 6vw;
      border-radius: 1vw;
      font-size: 2.6vw;
      margin: 3vw 0 6vw;
      filter: drop-shadow(0px 2vw 2.85vw rgba(0, 0, 0, 0.05)); } }
  @media screen and (max-width: 450px) {
    button {
      width: 130px;
      height: 32px;
      border-radius: 10px;
      font-size: 26px;
      filter: drop-shadow(0px 20px 28.5px rgba(0, 0, 0, 0.05));
      margin: 0; } }

.button-red {
  background-color: #f35d14; }
  @media screen and (max-width: 450px) {
    .button-red {
      margin-left: 30px;
      margin-top: -32px;
      font-size: 12px; } }

.primary-button {
  width: 302px;
  height: 60px;
  background-color: #2f89fc; }
  @media screen and (max-width: 1000px) {
    .primary-button {
      width: 30.2vw;
      height: 6vw; } }
  @media screen and (max-width: 450px) {
    .primary-button {
      width: 302px;
      height: 60px; } }

.modal-input {
  width: 400px;
  height: 60px;
  border-radius: 10px;
  font-size: 22px;
  background-color: #ffffff;
  border: 1px solid #707070;
  text-align: center; }
  @media screen and (max-width: 1000px) {
    .modal-input {
      width: 40vw;
      height: 6vw;
      border-radius: 1vw;
      font-size: 2.2vw; } }
  @media screen and (max-width: 450px) {
    .modal-input {
      font-size: 22px;
      border-radius: 10px;
      width: 302px;
      height: 60px; } }

::placeholder {
  text-align: center;
  font-size: 22px;
  color: #707070;
  font-weight: 500;
  padding: 20px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif; }
  @media screen and (max-width: 1000px) {
    ::placeholder {
      padding: 2vw;
      font-size: 2.2vw; } }
  @media screen and (max-width: 450px) {
    ::placeholder {
      font-size: 22px;
      padding: 20px;
      border-radius: 10px; } }

@media screen and (max-width: 450px) {
  .mobile-hide {
    display: none !important; } }

.arrow {
  position: absolute;
  top: 25%;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 1px solid #2f89fc;
  z-index: 8;
  background-color: #fff; }
  .arrow img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 19px; }

.arrow-left {
  left: -60px; }
  .arrow-left img {
    right: 25%; }

.arrow-right {
  right: -60px; }
  .arrow-right img {
    transform: rotate(180deg) translate(0, 50%);
    left: 25%; }

.header {
  background-color: #fff;
  padding-top: 100px;
  width: 100%; }
  @media screen and (max-width: 1600px) {
    .header {
      padding-top: 4vw; } }
  @media screen and (max-width: 1366px) {
    .header {
      padding-top: 2vw; } }
  @media screen and (max-width: 1000px) {
    .header {
      padding-top: 2vw; } }
  @media screen and (max-width: 450px) {
    .header {
      padding-top: 50px; } }
  .header .menu {
    display: flex;
    align-items: center; }
    .header .menu .menu-button {
      cursor: pointer;
      width: 60px; }
      @media screen and (max-width: 1000px) {
        .header .menu .menu-button {
          width: 6vw; } }
    .header .menu .header-title {
      font-size: 60px;
      text-transform: uppercase;
      padding-left: 45px;
      font-weight: bold; }
      @media screen and (max-width: 1000px) {
        .header .menu .header-title {
          font-size: 6vw;
          padding-left: 4.5vw; } }
  .header .title {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px 0 0; }
    @media screen and (max-width: 1600px) {
      .header .title {
        margin: 2vw 0 0; } }
    @media screen and (max-width: 1366px) {
      .header .title {
        margin: 0; } }
    @media screen and (max-width: 1000px) {
      .header .title {
        margin: 0; } }
    @media screen and (max-width: 450px) {
      .header .title {
        margin: 30vw 0 0; } }
    .header .title .location {
      font-size: 40px;
      font-weight: 500;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 1000px) {
        .header .title .location {
          font-size: 4vw; } }
      @media screen and (max-width: 450px) {
        .header .title .location {
          font-size: 14px; } }
      .header .title .location .marker-img {
        width: 45px;
        height: 54px;
        margin: 0 20px; }
        @media screen and (max-width: 1000px) {
          .header .title .location .marker-img {
            width: 4.5vw;
            height: 5.4vw;
            margin: 0 2vw; } }
        @media screen and (max-width: 450px) {
          .header .title .location .marker-img {
            width: 14px;
            height: 17px; } }
  .header .link-block {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px; }
    @media screen and (max-width: 1000px) {
      .header .link-block {
        width: 50vw;
        padding: 1.5vw 2vw; } }
    @media screen and (max-width: 450px) {
      .header .link-block {
        width: 302px;
        padding-top: 20px; } }
    .header .link-block .question {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: #ffffff;
      border: 2px solid #84cb76;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 19px;
      font-weight: bold;
      color: #84cb76;
      margin-left: 10px; }
      @media screen and (max-width: 1000px) {
        .header .link-block .question {
          width: 3vw;
          height: 3vw;
          border-radius: 1.5vw;
          font-size: 1.9vw;
          margin-left: 1rem; } }

.header-home-screen {
  display: flex;
  padding-top: 10px; }
  @media screen and (max-width: 450px) {
    .header-home-screen {
      display: block; } }
  .header-home-screen .search-block {
    padding-left: 30px; }
    @media screen and (max-width: 1000px) {
      .header-home-screen .search-block {
        padding-left: 3vw; } }
    @media screen and (max-width: 450px) {
      .header-home-screen .search-block {
        padding-left: 0; } }
  .header-home-screen .logo {
    padding-top: 5px; }
    @media screen and (max-width: 1000px) {
      .header-home-screen .logo {
        padding-top: 0.5vw; } }
    @media screen and (max-width: 450px) {
      .header-home-screen .logo {
        padding-top: 0; } }

/*
    SLIDER
*/
.slider {
  padding-top: 175px;
  padding-bottom: 50px; }
  @media screen and (max-width: 1000px) {
    .slider {
      padding-top: 15.55vw;
      padding-bottom: 4.44vw; } }
  .slider .slick-slide {
    height: 100%; }
  .slider .slide {
    display: flex !important;
    justify-content: center;
    align-items: center; }
    .slider .slide .slide-text {
      font-size: 60px;
      text-transform: uppercase; }
      @media screen and (max-width: 1000px) {
        .slider .slide .slide-text {
          font-size: 5.33vw; } }

.top-full-slider {
  position: relative;
  padding: 0; }
  .top-full-slider .arrow-header {
    top: 160px;
    left: 40px; }
    @media screen and (max-width: 1000px) {
      .top-full-slider .arrow-header {
        top: 14.22vw;
        left: 3.55vw; } }
  .top-full-slider .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .top-full-slider .slick-dots {
    position: absolute;
    bottom: 220px;
    left: 50%;
    transform: translate(-50%, 0); }
    @media screen and (max-width: 1000px) {
      .top-full-slider .slick-dots {
        bottom: 19.55vw; } }
    .top-full-slider .slick-dots li {
      width: 19px;
      height: 19px;
      border-radius: 10px;
      background-color: #93928b;
      margin: 4px; }
      @media screen and (max-width: 1000px) {
        .top-full-slider .slick-dots li {
          width: 1.68vw;
          height: 1.68vw;
          border-radius: 0.88vw;
          margin: 0.35vw; } }
      .top-full-slider .slick-dots li button {
        width: 19px;
        height: 19px; }
        @media screen and (max-width: 1000px) {
          .top-full-slider .slick-dots li button {
            width: 1.68vw;
            height: 1.68vw; } }
        .top-full-slider .slick-dots li button::before {
          display: none; }
    .top-full-slider .slick-dots .slick-active {
      background-color: #ffffff; }

.popular {
  padding-bottom: 100px; }
  @media screen and (max-width: 1600px) {
    .popular {
      padding-bottom: 10vw; } }
  @media screen and (max-width: 1000px) {
    .popular {
      padding-bottom: 5vw; } }
  .popular .popular-item {
    color: #5f6368;
    width: 215px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
    margin-top: 7px; }
    @media screen and (max-width: 450px) {
      .popular .popular-item {
        width: 57.77vw;
        margin-right: 1vw;
        margin-top: 30px; } }
  .popular .top-part {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .popular .top-part img {
      width: 100%; }
    .popular .top-part .popular-item-category {
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      color: #fff;
      background: rgba(255, 255, 255, 0.4);
      padding: 7px;
      left: 10px;
      bottom: 11px; }
      @media screen and (max-width: 450px) {
        .popular .top-part .popular-item-category {
          font-size: 2.66vw;
          padding: 2.04vw;
          left: 2.66vw;
          bottom: 2.84vw; } }
    .popular .top-part .popular-item-distance {
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      padding: 11px;
      border-radius: 10px;
      right: 10px;
      bottom: 11px; }
      @media screen and (max-width: 450px) {
        .popular .top-part .popular-item-distance {
          font-size: 14px;
          padding: 2.04vw;
          border-radius: 0.88vw;
          right: 2.66vw;
          bottom: 2.84vw; } }
  .popular .bottom-part {
    padding: 5px 3px 7px;
    position: relative; }
    @media screen and (max-width: 450px) {
      .popular .bottom-part {
        padding: 15px 10px 20px; } }
  .popular .popular-item-title {
    font-size: 11px;
    color: #292929;
    height: 16px;
    letter-spacing: .2px;
    line-height: 16px; }
    @media screen and (max-width: 450px) {
      .popular .popular-item-title {
        font-size: 10px; } }
  .popular .popular-item-location {
    color: #5f6368;
    font-size: 11px;
    height: 16px;
    letter-spacing: .2px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media screen and (max-width: 450px) {
      .popular .popular-item-location {
        font-size: 11px; } }
    .popular .popular-item-location img {
      margin-bottom: -3px;
      display: initial;
      width: 8px; }
      @media screen and (max-width: 450px) {
        .popular .popular-item-location img {
          width: 10px; } }
  .popular .popular-item-phone {
    width: 50px;
    height: 23px;
    border-radius: 10px;
    font-size: 10px;
    position: absolute;
    right: 3px;
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    transform: translate(0, -50%); }
    @media screen and (max-width: 450px) {
      .popular .popular-item-phone {
        width: 90px;
        height: 39px;
        border-radius: 10px;
        right: 10px;
        font-size: 18px; } }
    .popular .popular-item-phone img {
      width: 6px;
      margin: 0;
      margin-left: 2px; }
      @media screen and (max-width: 450px) {
        .popular .popular-item-phone img {
          width: 18px;
          margin-left: 6px; } }
  .popular .slick-list {
    overflow: hidden; }
  .popular .slick-slide {
    margin: 0 10px; }
  .popular .slick-track {
    padding: 30px 0; }
    @media screen and (max-width: 1000px) {
      .popular .slick-track {
        padding: 3vw 0; } }
  .popular .popular-block-grid, .popular .popular-block-grid-previous {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px; }
    .popular .popular-block-grid .popular-item, .popular .popular-block-grid-previous .popular-item {
      margin: 0 5px;
      margin-bottom: 20px; }
      @media screen and (max-width: 450px) {
        .popular .popular-block-grid .popular-item, .popular .popular-block-grid-previous .popular-item {
          width: 100%; } }
    .popular .popular-block-grid .top-part, .popular .popular-block-grid-previous .top-part {
      display: flex; }

.full-section {
  max-width: 1920px; }
  .full-section .popular-block-grid .popular-item {
    width: calc(12.5% - 10px); }
    @media screen and (max-width: 1660px) {
      .full-section .popular-block-grid .popular-item {
        width: calc(16.66% - 10px); } }
    @media screen and (max-width: 1440px) {
      .full-section .popular-block-grid .popular-item {
        width: calc(20% - 10px); } }
    @media screen and (max-width: 1250px) {
      .full-section .popular-block-grid .popular-item {
        width: calc(25% - 10px); } }
    @media screen and (max-width: 980px) {
      .full-section .popular-block-grid .popular-item {
        width: calc(33.33% - 10px); } }
    @media screen and (max-width: 640px) {
      .full-section .popular-block-grid .popular-item {
        width: calc(50% - 10px); } }
    @media screen and (max-width: 450px) {
      .full-section .popular-block-grid .popular-item {
        width: 100%; } }
  .full-section .popular-block-grid-previous .popular-item {
    width: 215px; }
    @media screen and (max-width: 450px) {
      .full-section .popular-block-grid-previous .popular-item {
        width: 57.77vw; } }
  .full-section .title {
    justify-content: flex-start; }
  .full-section .link-block {
    margin: 0; }
  .full-section .search {
    margin: 0; }

.business-profile {
  width: 100%; }
  .business-profile-item {
    min-width: 100%;
    display: flex;
    margin-bottom: 30px; }
    @media screen and (max-width: 1000px) {
      .business-profile-item {
        margin-bottom: 3vw; } }
    @media screen and (max-width: 450px) {
      .business-profile-item {
        flex-direction: column; } }
    .business-profile-item-title {
      font-size: 26px; }
      @media screen and (max-width: 1000px) {
        .business-profile-item-title {
          font-size: 2.6vw; } }
    .business-profile-item-description {
      font-size: 18px;
      line-height: 32px;
      padding-top: 20px; }
      @media screen and (max-width: 1000px) {
        .business-profile-item-description {
          font-size: 1.8vw;
          line-height: 3.2vw;
          padding-top: 2vw; } }
      @media screen and (max-width: 450px) {
        .business-profile-item-description {
          font-size: 18px;
          line-height: 32px;
          padding-top: 0; } }
      .business-profile-item-description .bold {
        font-weight: bold; }
  @media screen and (max-width: 450px) {
    .business-profile-buttons {
      display: flex;
      padding: 20px 0; } }
  .business-profile-image {
    min-width: 300px; }
    @media screen and (max-width: 1000px) {
      .business-profile-image {
        min-width: 30vw; } }
    @media screen and (max-width: 450px) {
      .business-profile-image {
        min-width: 100%; } }
    .business-profile-image img {
      height: 100%; }
      @media screen and (max-width: 450px) {
        .business-profile-image img {
          width: 100%; } }
  .business-profile-info {
    padding: 20px 28px; }
    @media screen and (max-width: 1000px) {
      .business-profile-info {
        padding: 2vw 2.8vw; } }
  .business-profile .call-button {
    top: 20px;
    right: 30px;
    transform: none; }
    @media screen and (max-width: 1000px) {
      .business-profile .call-button {
        top: 2vw;
        right: 3vw; } }
    @media screen and (max-width: 450px) {
      .business-profile .call-button {
        position: relative;
        margin-right: 14px;
        top: 0;
        right: 0; } }
  .business-profile .business-profile-item-detail {
    background-color: #e0edff;
    top: 70px;
    color: #2f89fc; }
    @media screen and (max-width: 1000px) {
      .business-profile .business-profile-item-detail {
        top: 7vw; } }
    @media screen and (max-width: 450px) {
      .business-profile .business-profile-item-detail {
        top: 0; } }

.modal-section {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 10; }

.modal {
  width: 1260px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); }
  .modal-inner {
    width: 100%;
    padding: 20px; }
    @media screen and (max-width: 1000px) {
      .modal-inner {
        padding: 2vw; } }
    @media screen and (max-width: 450px) {
      .modal-inner {
        padding: 0; } }
  .modal-inner-block {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px; }
    @media screen and (max-width: 1000px) {
      .modal-inner-block {
        padding: 2vw;
        border-radius: 1vw; } }
    @media screen and (max-width: 450px) {
      .modal-inner-block {
        border-radius: 0;
        padding: 40px 20px 30px; } }
  .modal .cross {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    background-color: #2f89fc;
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: 0;
    position: absolute; }
    @media screen and (max-width: 1000px) {
      .modal .cross {
        width: 3.8vw;
        height: 3.8vw;
        border-radius: 1vw;
        font-size: 1.7vw; } }
    @media screen and (max-width: 450px) {
      .modal .cross {
        width: 38px;
        height: 38px;
        border-radius: 10px;
        font-size: 17px;
        top: -30px; } }

@media screen and (max-width: 450px) {
  .video-modal-inner-block {
    border-radius: 10px;
    padding: 16px; } }

.video-modal {
  border-radius: 10px;
  background-color: #000000;
  border: 4px solid #0a0a0a;
  width: 100%;
  display: flex; }
  .video-modal img {
    width: 100%;
    height: 100%; }
  .video-modal .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82px;
    cursor: pointer; }
    @media screen and (max-width: 1000px) {
      .video-modal .play-button {
        width: 8.2vw; } }
    @media screen and (max-width: 450px) {
      .video-modal .play-button {
        width: 81px; } }

.sign-up-modal {
  width: 700px;
  margin: 0 auto;
  text-align: center; }
  @media screen and (max-width: 1000px) {
    .sign-up-modal {
      width: 70vw; } }
  @media screen and (max-width: 450px) {
    .sign-up-modal {
      width: 100%; } }
  .sign-up-modal .title {
    font-size: 36px;
    color: #292929; }
    @media screen and (max-width: 1000px) {
      .sign-up-modal .title {
        font-size: 3.6vw; } }
    @media screen and (max-width: 450px) {
      .sign-up-modal .title {
        font-size: 36px; } }
  .sign-up-modal input {
    margin: 20px 0; }
  .sign-up-modal .button {
    margin: 10px auto; }
