.modal-section{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 1260px;
    max-width: 100%;
    margin: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);
    @media screen and (max-width: $max-width){
        margin: 1vw;
        padding: 2vw;
        border-radius: 1vw;
    }
    &-inner{

    }
    .cross{
        width: 38px;
        height: 38px;
        border-radius: 10px;
        background-color: $blue;
        font-size: 17px;
        color: #ffffff;
        font-weight: 500;
        @media screen and (max-width: $max-width){
            width: 3.8vw;
            height: 3.8vw;
            border-radius: 1vw;
            font-size: 1.7vw;
        }
    }
}
.video-modal{
    border-radius: 10px;
    background-color: #000000;
    border: 4px solid #0a0a0a;
    width: 100%;
    img{
        width: 100%;
    }
    .play-button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 82px;
        @media screen and (max-width: $max-width){
            width: 8.2vw;
        }
    }
}